body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
 
    border-style: dashed;
    border-width: 10px;
    border-color: gray;
 
    padding-top: 20px;                                         
    padding-right: 20px;                                          
    padding-bottom: 20px;                                           
    padding-left: 20px;                                         
}

h1{
    background-color: darkblue;
    width: 200px;
    height: 50px;

    margin-top: 50px;                                         
    margin-right: 50px;                                          
    margin-bottom: 30px;                                           
    margin-left: 30px;
    
    border: 2px solid darkgray;

    padding: 30px 10px 10px 30px;
}

p{
    display: inline;
    background-color: aliceblue;
}

span{
    display: block;
    background-color: forestgreen;
}

.box1{ /*Posicionamento - Estático*/
    position: static;

    top: 0px;
    left: 0px;
    
    background-color: yellow;
    width: 400px;
    height: 50px;
}

.box2{ /*Posicionamento - Relativo*/
    position: relative;
    bottom: 50px;
    left: 450px;

    background-color: green;
    width: 400px;
    height: 50px;
}

.box3{
    position: absolute;
    top: 1050px;
    left: 500px;

    background-color: blue;
    width: 400px;
    height: 50px;
}

.box4{
    position: fixed;
    bottom: 10px;
    right: 50px;
    
    background-color: orange;
    width: 400px;
    height: 50px;
}

.box5{
    position: sticky;
    bottom: 500px;
    left: 250px;
    
    background-color: brown;
    width: 400px;
    height: 50px;
}

.layer1{
    position: relative;
    bottom: 0px;
    left: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;

    background-color: darkcyan;
    width: 80px;
    height: 55px;
}

.layer2{
    position: relative;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    
    background-color: cadetblue;
    width: 80px;
    height: 55px;
}

/*alterar body==>border-width para 5px*/ 