body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;

    border-style: dashed;

}
