@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap'); /*font-family: 'Grechen Fuemen', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap'); /*font-family: 'Koh Santepheap', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap'); /*font-family: 'Stick No Bills', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap'); /*font-family: 'Gemunu Libre', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #FFF;
    font-family: 'Grechen Fuemen', cursive;
}
#modH1{
    font-size: 20px;
}
#aH1:visited{
    color: #fff;
}

p, label, summary, #cab,.at, .passSC{
    font-family: 'Gemunu Libre', sans-serif;
    color: #FFF;
    font-size: 20px;
    text-indent: 4%;
    padding-bottom: 0.8%;
    text-align: justify;
}

.passSC{
    margin-left: 9%;
    text-indent: 0;
}
#cab,.at{
    text-align: right;
}
.at{
    list-style-type: none;
}
label{
    font-size: 17px;;
}
.atL,.atL:visited,#cab{
    color:aqua;
    font-style: normal
;}
.if:visited{
    color:#FFF;
}

.import
{
    padding: 0.4%;
    background-color: rgb(204,255,0,0.7);
}

.atr{
    font-family: 'Share Tech Mono', monospace;
    text-decoration: underline #FFF 2px;
}

iframe{
    border: 2px solid #FFF;
}

summary{
    text-align: right;
    text-decoration: dashed;
    font-size: 17px;
    font-style: italic;
}

h2{
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    margin-left: 2%;
    font-size: 30px;
    color:#FFF;
}

body{
    /*background-image: url(../img/fundo1.jpg);
    background-repeat: no-repeat;*/
    /*background: -webkit-gradient(linear, center top, center bottom, from(#000e35), to(#0040f1)) no-repeat;*/
    background-color: #000e35;

}

#conteudoPrincipal{
    width: 80%;
    height: 100%;
    margin-left: 7.5%;
    border: 5px solid #000;
    padding: 2%;
    background: -webkit-gradient(linear, center top, center bottom, from(#0f4df8), to(#01185a)) no-repeat;
    background: -moz-linear-gradient(top, #0f4df8, #01185a);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#0f4df8', EndColorStr='#01185a');
}
